<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h4> You have been invited to join Insta2.0 </h4>
    <p>
      Your username is: <strong><%= @user.username %></strong>
    </p>
    <p>
      Your Registered Email is: <strong><%= @user.email %></strong>
    </p>
    <p>
      Set your password by following this link: 
      <strong>"<%= @url %>"</strong>
    </p>
    <p>
      Thanks for joining and have a great day!
    </p>
  </body>
</html>