<br/>
<h4>Edit Tag</h4>

<%= render "form", tag: @tag%>

<br/>
<%= link_to 'Back to Tags', tags_path, class: "btn btn-secondary" %> | 
<%= link_to 'Back to Setings', settings_user_path, class: "btn btn-secondary" %>