<br/>
<h4>Tag</h4>

<p><strong>ID:</strong> <%= @tag.id %> </p>
<p><strong>Tag_name:</strong> <%= @tag.name %> </p>

<%= link_to 'Back to Tags', tags_path, class: "btn btn-secondary" %> | 
<%= link_to 'Back to Setings', settings_user_path, class: "btn btn-secondary" %>