<br/>
<h4>Edit Post</h4>

<%= render "form", post: @post %>
<br/>

  <%# <%= link_to 'Back to Post', post_path(@user), class: "btn btn-secondary" %>
  <%= link_to 'Back to Posts', dashboard_path, class: "btn btn-secondary" %>